h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 200; }

.gradientLine {
  height: 1px;
  background: -moz-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(214, 214, 214, 0)), color-stop(10%, #d6d6d6), color-stop(90%, #d6d6d6), color-stop(100%, rgba(214, 214, 214, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d6d6d6', endColorstr='#00d6d6d6',GradientType=1 );
  /* IE6-9 */ }

.darkGradient {
  background: #383838;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #383838), color-stop(34%, #383838), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #383838 10%, #383838 34%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#welcome {
  padding-top: 200px;
  font-weight: 200;
  color: #666666; }
  #welcome .title h1 {
    font-size: 60px;
    display: inline-block; }

.blinking {
  width: 8px;
  height: 18px;
  background: #428bca;
  display: inline-block; }

.aboutMyself {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  padding: 40px;
  -webkit-box-shadow: inset 0px 0px 15px 0px #323232;
  -moz-box-shadow: inset 0px 0px 15px 0px #323232;
  box-shadow: inset 0px 0px 15px 0px #323232;
  background: #606060;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #606060 0%, #0e0e0e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #606060), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #606060 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #606060 0%, #0e0e0e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #606060 0%, #0e0e0e 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #606060 0%, #0e0e0e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#0e0e0e',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .aboutMyself img {
    max-width: 100%; }

.experience .gradientLine {
  margin-bottom: 10px; }
.experience h2 {
  text-align: center; }
.experience p {
  color: #333333;
  font-size: 18px; }
