h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 200; }

.gradientLine {
  height: 1px;
  background: -moz-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(214, 214, 214, 0)), color-stop(10%, #d6d6d6), color-stop(90%, #d6d6d6), color-stop(100%, rgba(214, 214, 214, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(214, 214, 214, 0) 0%, #d6d6d6 10%, #d6d6d6 90%, rgba(214, 214, 214, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d6d6d6', endColorstr='#00d6d6d6',GradientType=1 );
  /* IE6-9 */ }

.darkGradient {
  background: #383838;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #383838), color-stop(34%, #383838), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #383838 10%, #383838 34%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 66%, #dddddd 100%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%, white), color-stop(100%, #dddddd), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 66%, #dddddd 100%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 66%, #dddddd 100%, #dddddd 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 66%, #dddddd 100%, #dddddd 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, white 66%, #dddddd 100%, #dddddd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 25px 40px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9); }
  #header a {
    color: #000;
    text-decoration: none; }
    #header a:hover {
      color: #428bca; }
  #header a.active {
    border-bottom: 1px solid #428bca; }
  #header #logo {
    font-size: 20px; }
  #header ul {
    list-style-type: none; }
    #header ul:before, #header ul:after {
      content: "";
      display: table; }
    #header ul:after {
      clear: both; }
    #header ul li {
      display: inline;
      float: right; }
      #header ul li a {
        display: block;
        padding: 0 25px; }

#belt {
  margin: auto;
  max-width: 1040px;
  padding-top: 80px; }

#messageBanner {
  background: #FFFFCC;
  padding: 10px;
  margin: 10px; }

#contentWrapper {
  padding: 40px; }

/*responsive sticky footer=============*/
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; }

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  padding: 0 40px; }
  #footer .copyright {
    color: #cccccc; }
    #footer .copyright a {
      color: #cccccc; }

.featherlight {
  z-index: 101; }
  .featherlight .featherlight-content {
    overflow: visible;
    background: transparent;
    padding: 0; }
    .featherlight .featherlight-content .featherlight-close-icon {
      color: #FFF;
      background: transparent;
      width: auto; }

.featherlight:last-of-type {
  background: rgba(20, 20, 20, 0.9); }
