.gradientLine {
  height: 1px;
  background: #d6d6d6;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #d6d6d6), color-stop(71%, white));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #d6d6d6 59%, white 71%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.darkGradient {
  background: #383838;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #383838), color-stop(34%, #383838), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #383838 10%, #383838 34%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#welcome {
  padding-top: 200px;
  font-weight: 200;
  color: #666666; }
  #welcome .title h1 {
    font-size: 60px;
    display: inline-block; }
