.fadeLine {
  height: 1px;
  background: #d6d6d6;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #d6d6d6), color-stop(71%, white));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #d6d6d6 59%, white 71%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #d6d6d6 59%, white 71%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.darkGradient, .projectThumbEpi a.projectThumbEndo .projectThumbFade {
  background: #383838;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #383838), color-stop(34%, #383838), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #383838 10%, #383838 34%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #383838 10%, #383838 34%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#accordion {
  margin-top: 20px;
  -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.4); }

.slideEpi {
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  background: #FFF; }
  .slideEpi .slideEndo {
    position: relative; }

.slideTab {
  -moz-transform: rotate(-270deg);
  -moz-transform-origin: bottom left;
  -webkit-transform: rotate(-270deg);
  -webkit-transform-origin: bottom left;
  -o-transform: rotate(-270deg);
  -o-transform-origin: bottom left;
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  position: absolute;
  left: 0px;
  top: 20px;
  font-size: 20px;
  color: #444444; }

.chart {
  clear: both;
  padding: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .chart {
      margin-top: 20px;
      height: 280px;
      margin: 0 auto emCalc(-32px); } }
  .chart li {
    display: block;
    padding: emCalc(25px) 0;
    position: relative;
    text-align: right;
    vertical-align: bottom;
    height: 20px; }
    @media (min-width: 768px) {
      .chart li {
        display: inline-block;
        height: 280px;
        margin: 0 1.8% 0 0;
        width: 13%; } }
    @media (max-width: 768px) {
      .chart li {
        height: 20% !important; } }
  .chart .axis {
    display: none;
    top: emCalc(-45px);
    width: 15%; }
    @media (min-width: 768px) {
      .chart .axis {
        display: inline-block; } }
  .chart .level {
    margin: -14px 0 50px 0; }
  .chart .percent {
    letter-spacing: -2px;
    width: 100%;
    text-align: center;
    font-size: 14; }
    @media (min-width: 768px) {
      .chart .percent {
        display: none;
        position: absolute;
        font-size: 30px;
        font-size: 1.875rem; } }
  .chart .skill {
    padding: 0 5px 0 5px;
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #111111;
    font-size: 20px; }
    @media (min-width: 768px) {
      .chart .skill {
        bottom: 10px;
        position: absolute;
        font-size: 16px;
        color: #FFF; } }
  .chart .bar {
    background: #aaaaaa;
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }
    @media (max-width: 768px) {
      .chart .bar {
        background: none;
        box-sizing: border-box;
        border-bottom: 1px solid #dddddd; } }
    .chart .bar:hover {
      cursor: pointer;
      background: #428bca;
      -webkit-transition: background 200ms ease-in-out;
      -moz-transition: background 200ms ease-in-out;
      -ms-transition: background 200ms ease-in-out;
      -o-transition: background 200ms ease-in-out;
      transition: background 200ms ease-in-out; }

#projectThumbWrap {
  margin-top: 40px; }
  #projectThumbWrap .row {
    margin-bottom: 20px; }

.projectThumbEpi a.projectThumbEndo {
  height: 200px;
  display: block;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: none;
  position: relative; }
  .projectThumbEpi a.projectThumbEndo .projectThumbFade {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    color: #FFF;
    padding: 15px;
    text-align: center; }
    .projectThumbEpi a.projectThumbEndo .projectThumbFade h3 {
      font-weight: 200; }
    .projectThumbEpi a.projectThumbEndo .projectThumbFade .skillString {
      color: #cccccc;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 15px; }

.projectPhoto {
  max-width: 100%; }
