$grey3:#DDD;
$grey2:#CCC;
$grey1:#AAA;
$grey-1:#666;
$grey-2:#333;
$grey-3:#111;


$orange:#FFA400;
$orange1:#FFAD19;
$orange-1:#B27300;

$blue:#428bca;
$blue1:#0075FF;

@mixin corner3{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@mixin selfClear{
    &:before, &:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}

@mixin tableReset{
    border-spacing:0;
    margin:0;
    padding:0;
    tbody, td,tr {margin:0; padding:0; border:0;}
    td{vertical-align:top;}
}
.gradientLine{
    height:1px;
    background: -moz-linear-gradient(left,  rgba(214,214,214,0) 0%, rgba(214,214,214,1) 10%, rgba(214,214,214,1) 90%, rgba(214,214,214,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(214,214,214,0)), color-stop(10%,rgba(214,214,214,1)), color-stop(90%,rgba(214,214,214,1)), color-stop(100%,rgba(214,214,214,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(214,214,214,0) 0%,rgba(214,214,214,1) 10%,rgba(214,214,214,1) 90%,rgba(214,214,214,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(214,214,214,0) 0%,rgba(214,214,214,1) 10%,rgba(214,214,214,1) 90%,rgba(214,214,214,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(214,214,214,0) 0%,rgba(214,214,214,1) 10%,rgba(214,214,214,1) 90%,rgba(214,214,214,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(214,214,214,0) 0%,rgba(214,214,214,1) 10%,rgba(214,214,214,1) 90%,rgba(214,214,214,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6d6d6', endColorstr='#00d6d6d6',GradientType=1 ); /* IE6-9 */
}

@mixin rotate-90{
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    -ms-transform:     rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
@mixin backgroundTransition{
    -webkit-transition: background 200ms ease-in;
    -moz-transition: background 200ms ease-in;
    -ms-transition: background 200ms ease-in;
    -o-transition: background 200ms ease-in;
    transition: background 200ms ease-in;
}
@mixin cover{
    background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.darkGradient{
    background: #383838; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #383838 10%, #383838 34%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#383838), color-stop(34%,#383838), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #383838 10%,#383838 34%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #383838 10%,#383838 34%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #383838 10%,#383838 34%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #383838 10%,#383838 34%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}