$grey3:#DDD;
$grey2:#CCC;
$grey1:#AAA;
$grey-1:#444;
$grey-2:#222;
$grey-3:#111;


$orange:#FFA400;
$orange1:#FFAD19;
$orange-1:#B27300;

$blue:#428bca;
$blue1:#0075FF;

@mixin corner3{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@mixin selfClear{
    &:before, &:after{
        content:"";
        display:table;
    }
    &:after{
        clear:both;
    }
}

@mixin tableReset{
    border-spacing:0;
    margin:0;
    padding:0;
    tbody, td,tr {margin:0; padding:0; border:0;}
    td{vertical-align:top;}
}
@mixin coverBackground{
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
}
.fadeLine{
    height:1px;
    background: #d6d6d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d6d6d6 59%, #ffffff 71%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%,#d6d6d6), color-stop(71%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #d6d6d6 59%,#ffffff 71%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #d6d6d6 59%,#ffffff 71%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #d6d6d6 59%,#ffffff 71%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #d6d6d6 59%,#ffffff 71%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin rotate-90{
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    -ms-transform:     rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
@mixin backgroundTransition{
    -webkit-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}