@import "_variables";
body{
    font-family: 'Open Sans', sans-serif;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 66%, #dddddd 100%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(66%,#ffffff), color-stop(100%,#dddddd), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 66%,#dddddd 100%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 66%,#dddddd 100%,#dddddd 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 66%,#dddddd 100%,#dddddd 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 66%,#dddddd 100%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
#header{
    width:100%;
    position:fixed;
    top:0;
    z-index: 9000;
    padding:25px 40px;
    height:80px;
    background-color: rgba(255, 255, 255, .9);
    #logo{
        font-size:20px;
        color:$grey-1;
        text-decoration:none;
        &:hover{
            color:$blue;
        }
    }
    ul{
        list-style-type: none;
        @include selfClear;
        li {
            display: inline;
            float:right;
            a {
                display:block;
                padding:0 25px;
            }
        }
    }
}

#belt{
    margin:auto;
    max-width:1040px;
    padding-top:80px;
}
#messageBanner{
    background:#FFFFCC;
    padding:10px;
    margin:10px;

}
#contentWrapper{
    padding:0 40px 40px 40px;
}

/*responsive sticky footer=============*/
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    padding:0 40px;
}