@import"_variables.scss";

#accordion{
    margin-top:20px;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.4);
}
.slideEpi{
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
    background:#FFF;
    .slideEndo{
        position:relative;
    }
}

.slideTab{
    @include rotate-90;
    position:absolute;
    left:0px;
    top:20px;
    font-size:20px;
    color:$grey-1;
}

//chart styles

// VARIABLES

// MIXINS
// Calculates REMs out of pixels
@mixin font-size($sizeValue: 16) {
    font-size: $sizeValue + px;
    font-size: ($sizeValue / 16) + rem;
}

// Media Queries
@mixin breakPoint($point) {
    @if $point == sm {
        @media (min-width: 768px) { @content; }
    }
}

// STYLES

.chart {
    clear: both;
    padding: 0;
    width: 100%;
    @include breakPoint(sm) {
        margin-top:20px;
        height: 280px;//for chart
        margin: 0 auto emCalc(-32px);
    }
    li {
        display: block;
        padding: emCalc(25px) 0;
        position: relative;
        text-align: right;
        vertical-align: bottom;
        height:20px;
        @include breakPoint(sm) {
            display: inline-block;
            height: 280px;//for the axis
            margin: 0 1.8% 0 0;
            width: 13%;
        }
        @media(max-width:768px){
            height:20% !important;
        }
    }
    .axis { 
        display: none;
        top: emCalc(-45px);
        width: 15%;
        @include breakPoint(sm) {
            display: inline-block;
        }
    }
    .level {
        margin: -14px 0 50px 0;
    }
    .percent {
        letter-spacing: -2px;
        width: 100%;
        text-align:center;
        font-size:14;
        @include breakPoint(sm) {
            display:none;
            position: absolute;
            @include font-size(30);
        }
    }
    .skill {
        padding:0 5px 0 5px;
        word-wrap:break-word;
        overflow: hidden;
        width: 100%;
        text-align:center;
        color:$grey-3;
        font-size:20px;
        @include breakPoint(sm) {
            bottom: 10px;
            position: absolute;
            font-size:16px;
            color:#FFF;
        }
    }
    .bar{
        background:$grey1;
        @include backgroundTransition;
        @media(max-width:768px){
            background:none;
            box-sizing: border-box;
            border-bottom:1px solid $grey3;
        }
        &:hover{
            cursor: pointer;
            background:$blue;
            @include backgroundTransition;
        }
    }
    .bar.active{
        background:$blue;
    }
}

//projectList ==============
//isotope UI 
.isotopeUI{
    cursor:pointer;
}
.isotopeUI .caret{
    border-top:14px;
}
.isotopeUI.active{
    color:$blue;
}
.isotopeUI.active.ascending{
    .caret{
        border-bottom: 4px solid;
    }
}

.isotopeUI.active.descending{
    .caret{
        border-top: 4px solid;
    }
}

//projectlist thumbs
#projectListThumbWrap{
    margin-top:40px;
    .row{
        margin-bottom:20px;
    }
}
.projectListThumbEpi{
    margin-bottom:20px;
    a.projectThumbEndo{
        height:200px;
        display:block;
        @include cover;
        text-decoration:none;
        position:relative;
        .projectThumbFade{
            h3{
                font-weight:200;
            }
            position:absolute;
            opacity:0;
            @extend .darkGradient;
            height:100%;
            width:100%;
            color:#FFF;
            padding:15px;
            text-align:center;
            .skillString{
                color:$grey2;
                position:absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom:15px;
            }
        }
    }
}
//Project View======================================
.projectTitleWrap{
    .gradientLine{
        margin-top:40px;
        margin-bottom:40px;
    }
    h1{
        margin-top:0;
    }
    .projectSubtitle{
        h4{
            font-size:14px;
            color:$grey-1;
        }
    }
    img{
        max-width:100%;
    }
}

.projectThumbnailEpi{
    h4{
        color:$grey-1;
    }
}
.projectPhoto{
    max-width:100%;
    max-height:100%;
}
//styling lightbox source
.lightboxSource{
    color:#FFF;
    display:none;
    h3{
        margin-top:0;
    }
    .photoCaption{
        margin-top:10px;
    }
}