@import "_variables";
#welcome{
    padding-top:200px;
    font-weight:200;
    color:$grey-1;
    .title{
        h1{
            font-size:60px;
            display:inline-block;
        }
    }
}

.blinking{
    width:8px;
    height:18px;
    background:$blue;
    display:inline-block;
}

//about page
.aboutMyself{
    font-size:18px;
    font-weight:200;
    color:#fff;
    padding:40px;
    img{
        max-width:100%;
    }
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    inset 0px 0px 15px 0px rgba(50, 50, 50, 1);
box-shadow:         inset 0px 0px 15px 0px rgba(50, 50, 50, 1);
    background: rgb(96,96,96); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(96,96,96,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(96,96,96,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(96,96,96,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(96,96,96,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(96,96,96,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.experience{
    .gradientLine{
        margin-bottom:10px;
    }
    h2{
        text-align:center;
    }
    p{
        color:$grey-2;
        font-size:18px;
    }
}